* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: #1c1c1c;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #aaaaaa;
    text-decoration: underline;
    transition: 0.3s;
}

.banner {
    height: 450px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    background-image: url('img/img-background.webp');
    background-size: cover;
    background-position: center;
}

.banner {
    background-image: 
        linear-gradient( /* Cria um degrader */
            to right, 
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.2)
        ),
        url('img/img-background.webp');
    background-size: cover;
    background-position: center;
}

.banner-conteudo{
    max-width: 500px;
}

.banner-conteudo h2{
    font-size: 50px;
    margin-bottom: 15px;
}

.banner-conteudo p{
    font-size: 19px;
    line-height: 1.5;
}

.banner-conteudo button {
    border: none;
    padding: 11px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.categoria {
    padding: 30px 50px;
}

.categoria h2 {
    font-size: 24px;
    margin-bottom: 15px;
}


.categoria .filmes {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none; /* escode a nav bar */
}

    .categoria .filmes::-webkit-scrollbar {
    display: none; /* escode a nav bar no chrome*/
}
.filme img {
    width: 180px;
    height: 260px;
    object-fit: cover;
    border-radius: 5px;
}

.filme {
    transition: transform 0.3s;
}

.filme:hover {
    transform: scale(1.08);
}

